#footer {
	text-align: center;
	color: black;
	font-size:20px;
	margin: 1em 0 0 0;
	border-top: solid black 2px;
	padding-top: .4em;
	bottom: .75em;
	position: absolute;
	width: 99%;
}
#clockbox	{
	color: black;
	position: absolute;
	padding-top: .5em;
	right: .5em;
	bottom: .5em;
	font-size: 1.5em;
}
#searchbox {
	position: absolute;
	top: 2em;
	right: 2em;
}
#logout, #request	{
	position: absolute;
	top: .5em;
	right:2em;
}
#logout a, #request a	{
	text-decoration:none;
}
#logout input, #request input	{
	width: 6em;
	background: #666;												/* Background search box */
	background: -webkit-gradient(						/*		gradient for webkit */
		linear,
		left top,
		left bottom,
		from(#222),
		to(#666));
	background: -moz-linear-gradient(				/*		gradient for gecko */
		top,
		#222,
		#666);
	border: 1px solid #444;									/* Border search box */
	-webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 2px;	/* Shadow search box - webkit */
	-moz-box-shadow: rgba(0,0,0,0.2) 0 1px 2px;			/* Shadow search box - gecko */
	box-shadow: rgba(0,0,0,0.2) 0 1px 2px;					/* Shadow search box - generic */
	color: #ddd;														/* Text color search box */
	font-size: 1em;													/* Text size search box */
	-webkit-border-top-left-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-right: 0;
	padding-left:5px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-left: 0;
}
#logout input:hover, #request input:hover	{
	background: #c4c3c3;												/* Background search box */
	background: -webkit-gradient(						/*		gradient for webkit */
		linear,
		left top,
		left bottom,
		from(#c4c3c3),
		to(#222));
	background: -moz-linear-gradient(				/*		gradient for gecko */
		top,
		#c4c3c3,
		#222);
}
