html	{
	height:100%;
}
body	{
	background:#fff;
	background-image: url('/images/calm.jpg');
	background-attachment: fixed;
}
form input {
	background: #333;												/* Background search box */
	background: -webkit-gradient(						/*		gradient for webkit */
		linear,
		left top,
		left bottom,
		from(#222),
		to(#333));
	background: -moz-linear-gradient(				/*		gradient for gecko */
		top,
		#222,
		#333);
	border: 1px solid #444;									/* Border search box */
	-webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 2px;	/* Shadow search box - webkit */
	-moz-box-shadow: rgba(0,0,0,0.2) 0 1px 2px;			/* Shadow search box - gecko */
	box-shadow: rgba(0,0,0,0.2) 0 1px 2px;					/* Shadow search box - generic */
	color: #ddd;														/* Text color search box */
	font-size: 1em;													/* Text size search box */
}

form input:first-child {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: 0;
}

form input:last-child {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: 0;
}